body {
  background-image: url(./images/background-white.jpg);

  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image within the element */
}
